nav {
    /* position: sticky; */
    width: 100vw;
    display: flex;
}

ul {
    list-style-type: none;
    width: 100%;
}

h1 {
    font-size: 1.5em;
    color: black;
    margin: 0;
    padding: 0; 
}

h2 {
    font-size: 1.2em;
    color: darkblue;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1em;
    color: blueviolet;
    margin: 0;
    padding: 0;
}

.article-block {
    display: flex;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 63%;
    border: 2px solid chocolate;
    margin-bottom: 20px;
}

.article-element {
    border: 1px solid #bbb;
    flex-direction: column;
    padding: 15px;
}

.navbar {
    display: block;
    float: left;
    border-right: 1px solid #bbb;
    background-color: gold;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}